.orbitron-font-config {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.mainTimer {
  font-family: "Orbitron";
  transform: scaleY(1.5);
  font-size: 4em;
  font-weight: 500;
  margin: var(--mantine-spacing-md) auto var(--mantine-spacing-md) 0;
  margin-right: auto;
}

.blinkingDots {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  29.9% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  69.9% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}
